
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HH-MitoSig</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'hhmitosig_app/css/style.min.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'hhmitosig_app/js/adjuster.min.js' %}"></script>
    {% block load_additional_scripts %}{% endblock %}
</head>

<body>
    <div class="container">
        <div id="header" class="row">
            <div style="font-size:36px;height:50px; font-weight:bold; font-family: 'Arial'; background-color: darkcyan">
              <svg height="40" width="1000">
                <text x="40vw" y="5vh" fill="white"> HH-MITOSIG </text>
              </svg>
            </div>
            <ul id="main_menu" class="nav nav-tabs">
                {% block index %}<li><a href="{% url 'hhmitosig_app:search' %}">Search</a></li>{% endblock %}
                {% block guide %}<li><a href="{% url 'hhmitosig_app:guide' %}">Guide</a></li>{% endblock %}
                {% block about %}<li><a href="{% url 'hhmitosig_app:about' %}">About</a></li>{% endblock %}
                {% block contact %}<li><a href="{% url 'hhmitosig_app:contact' %}">Contact</a></li>{% endblock %}
            </ul>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>
