{% extends "hhmitosig_app/base.html" %}
{% load staticfiles %}

{% block contact %}<li class="active"><a href="{% url 'hhmitosig_app:contact' %}">Contact</a></li>{% endblock %}

{% block content %}
<div class = "textContainer">
    In case of problems please contact <a href="mailto:susun@biochem.mpg.de">Su Sun</a>.
</div>
<div class= "formContainer">
	<div class="center-wrapper">
		<a href="http://www.mpg.de" target="_blank"><img src="{% static 'hhmitosig_app/img/mpglogo.png' %}" style="width:22.5%; border:0;" alt="MPG emblem" /></a>
		<br></br>
		<a href="http://www.biochem.mpg.de/en" target="_blank"><img src="{% static 'hhmitosig_app/img/logo-mpi-biochem.png' %}" style="width:35%; border:0;" alt="MPI Biochem"></a>
	</div>
</div>
{% endblock %}
