{% extends "hhmitosig_app/base.html" %}
{% load staticfiles %}

{% block load_additional_scripts %}
<script type="text/javascript" src="{% static 'hhmitosig_app/js/spin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'hhmitosig_app/js/index.js' %}"></script>
{% endblock %}

{% block index %}<li class="active"><a href="{% url 'hhmitosig_app:search' %}">Search</a></li>{% endblock %}

{% block content %}
<!--Decription-->
<div class="row">
    <p class="main-descr">Welcome to {{tool}}!
    </p>
    <p class="main-descr">{{tool}} is designed for computational characterizing and predicting the occurance of mitochondrial translocational signals including 3 types of N-terminal signal, the β-signal, the cysteine signal and the carrier signals. According the predicted signal types, {{tool}} will also suggest the cellular location of the queried proteins.
    </p>
    <br />
</div>

<!--Warnings-->
<div id="js_warning_section" class="row">
    <div class="form-container">
        <div class="form-text">JavaScript is disabled. Please, enable JavaScript to access the functionality of this website</div>
    </div>
</div>

<!--Main content-->
<div id="all_content" class="row">

    <div class="col-lg-1"></div>
    <div id="tool_switcher_container" class="col-lg-2 col-md-2 col-sm-3 col-xs-1">
        <ul id="tool_switcher_menu" class="nav">
            <li class="dropdown">
                <button id="btn-menu" type="button" class="dropdown-toggle" data-toggle="dropdown"
                    <span class="glyphicon glyphicon-menu-hamburger" style="font-size: 2em"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <ul class="nav nav-tabs nav-stacked">
                            <li class="active"><a class="pseudo-button" href="#first_tab" data-toggle="tab">mTP prediction</a></li>
                            <li><a class="pseudo-button" href="#second_tab" data-toggle="tab">non-mTP prediction</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul id="tool_switcher_normal" class="nav nav-tabs nav-stacked">
            <li id="first_tab_clicker" class="active"><a class="pseudo-button" data-toggle="tab" href="#first_tab">mTP prediction</a></li>
            <li id="second_tab_clicker"><a class="pseudo-button" data-toggle="tab" href="#second_tab">non-mTP prediction</a></li>
        </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1 lines-container">
        <div id="bottom_line" class="diagonal-line"></div>
        <div id="top_line" class="diagonal-line"></div>
    </div>

    <div id="tool_content" class="col-lg-6 col-md-8 col-sm-8 col-xs-10 tab-content">

        <!--mTP input forms-->
        <div id="first_tab" class="tab-pane active tool-content">
            <form id="first_form" class="tab-pane active" action="{% url 'hhmitosig_app:search' %}" method="post" enctype="multipart/form-data">
                <div class="form-container">
                    <p>Description of the first mode</p>
                    <br />
                    <div style="display: none;">{{ first_form.form_type }}</div>
                    <b style="text-align: left">Input FASTA sequences</b>
                    <div>
                        <br />
                        {{ first_form.input_text1 }}
                    </div>
                    <br /><br />
                    <b>E-mail to notify on results (optional)</b>
                    <br />
                    {{ first_form.user_email }}
                    <br /><br />
                    <div class="help-mark" title="This name will be displayed in the output and the e-mail to help to distinguish between different jobs" >?</div>
                    <b>Job name (optional)</b>
                    <br />
                    {{ first_form.job_name }}
                    {% if messages %}
                        <div class="django-message-section">
                            <br /><br />
                            {% for message in messages %}
                                <div class="alert alert-danger">{{ message|linebreaks }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="js-message-section" style="display: none">
                        <br /><br />
                        <div class="js-message alert alert-danger"></div>
                    </div>
                </div>
                <div class="submit-section center-wrapper">
                    <button class="btn-lg button-custom">Submit</button>
                    <div class="sample-output"><a href="../downloads/test_results_first/results.html" target="_blank">Output&nbsp;sample </a></div>
                    <div class="more-help"><a href="{% url 'hhmitosig_app:guideFirstInput' %} " target="_blank">More&nbsp;help</a></div>
                </div>
            </form>
        </div>

        <!--non-mTP form-->
        <div id="second_tab" class="tab-pane tool-content">
            <form id="second_form" action="{% url 'hhmitosig_app:search' %}" method="post" enctype="multipart/form-data">
                <div class="form-container">
                    <p>Description of the second mode</p>
                    <br />
                    <div style="display: none;">{{ second_form.form_type }}</div>
                    <b style="text-align: left">Input FASTA sequences</b>
                    <div>
                      <br />
                        {{ second_form.input_text2 }}
                    </div><br>
                    OR <br>
                    <br /><br />
                    <b style="text-align: left">Input FASTA file</b>
                    <br />
                    {{ second_form.second_form_file }}
                    <!--<div class="remark-wrapper"><span class="remark">File submission is mandatory</span></div>-->
                    <br /><br />
                    <b>E-mail to notify on results (optional)</b>
                    <br />
                    {{ second_form.user_email }}
                    <br /><br />
                    <div class="help-mark" title="This name will be displayed in the output and the e-mail to help to distinguish between different jobs" >?</div>
                    <b>Job name (optional)</b>
                    <br />
                    {{ second_form.job_name }}
                    {% if messages %}
                        <div class="django-message-section">
                            <br /><br />
                            {% for message in messages %}
                                <div class="alert alert-danger">{{ message|linebreaks }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="js-message-section" style="display: none">
                        <br /><br />
                        <div class="js-message alert alert-danger"></div>
                    </div>
                </div>
                <div class="submit-section center-wrapper">
                    <button class="btn-lg button-custom">Submit</button>
                    <div class="sample-output"><a href="../downloads/results.html" target="_blank">Output&nbsp;sample</a></div>
                    <div class="more-help"><a href="{% url 'hhmitosig_app:guideSecondInput' %}" target="_blank">More&nbsp;help</a></div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 form-container waiting-section" style="display: none">
        <div style="position: relative" class="center-wrapper">
            <img src="{% static 'hhmitosig_app/img/blank.svg' %}" width="15%" border="0" />
            <div class="spinner-container"></div>
        </div>
        <div class="form-text">Please wait until your input is being checked</div>
    </div>
    <div class="col-lg-10 form-container accepted-section" style="display: none">
        <div class="center-wrapper">
            <img src="{% static 'hhmitosig_app/img/Symbol_OK.svg' %}" width="10%" border="0" />
        </div>
        <div class="form-text">
            Your task has been accepted and placed into the queue.
            The link to your result is:<br /><a class="result-link" href="" target="_blank"></a><br />
            <span class="notification" style="display: none;">You will be notified by e-mail as soon as it is complete</span>
        </div>
    </div>

</div>

<!--Footnote-->
<div class="row">
    <div class="text-footnote">
        * If you use the tool, please cite:
        <i>Su Sun ...</i>
    </div>
</div>

<!--Hidden sesion info-->
<div class="session-info">
    <div id="mode">{{mode}}</div>
    <div id="session_key">{{session_key}}</div>
</div>

{% endblock %}
