{% extends "hhmitosig_app/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">

    <div style="text-align: center">
        <h2 class="text-section">Requested File Not Found</h2>
    </div>
    {% if output %}
        <p class="main-descr"><br />
        It seems like you are trying to access a results page that does not exist.
        <br /><br />
        This may be happening for two following reasons:
        <ul style="padding-left: 2em">
            <li>The provided identifier is not correct.
            Please make sure that you copy and pase the URL correctly.
            The identifier is always a 40-character long hexadecimal string.</li>
            <li>The results are expired.
            Note that all results are stored only for 7 days and are permanently deleted afterwards.</li>
        </ul>
        </p>
    {% endif %}

</div>
{% endblock %}
