{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HH-MitoSig results</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="30" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'hhmitosig_app/js/spin.min.js' %}"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'hhmitosig_app/css/style.css' %}" />
    <script>
        $(document).ready(function () {
            var opts={position: "relative", scale: "0.75"};
            var spinner = new Spinner(opts).spin();
            $("#spinner_anchor").append(spinner.el);
        });
    </script>
</head>

<body>
    <div class="container">
        <div id="header" class="row">
            <div id="logo_wrapper"><img id="logo" src="{% static 'hhmitosig_app/img/logo.svg' %}" alt="Logo" /></div>
        </div>
        <div class="row" style="margin-bottom: 4em"></div>
        <div class="row">
            <div>
                <div style="float: left"><p>Your task is waiting in the queue...</p></div>
                <div id="spinner_anchor" class="spinner-in-text"></div>
            </div>
            <div style="clear: both"></div>
            <p>To see if the calculations are finished, you can <a href="">refresh</a> the page.</p>
            <p>The page will be refreshed automatically every 30 seconds.</p>
            <p>You can also bookmark this page and visit it later.</p>
            <p>In case you have provided your e-mail address, you will be notified as soon as the calculations are complete.</p>
            <p>Please note that the results will be stored only for 7 days.</p>
        </div>
    </div>
</body>

</html>
